fieldset {
  border: 1px solid #fff;
  padding: 20px;
  width: 350px;
}

.listbox {
  max-height: 200px;
  overflow-y: auto;
}

.item {
  border: 1px solid #fff;
}

.item + .item {
  margin-top: 10px;
}
